@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) { original dark mode
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-end-rgb)),
    rgb(var(--background-start-rgb))
  );
}

.dropdown-span::after,
.dropdown-span::before {
  --size: 0.4rem;

  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.dropdown-span::after {
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 35%;
}

.dropdown-span::before {
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 65%;
}
